<h1>Issue#edit</h1>
<%= form_with model: @issue, url: user_product_issue_path , method: :patch, local: true do |f| %>
  表題：<%= f.text_field :summary, value:@issue.summary %>
<br>
<%= f.text_area :description, class: "issue-text", placeholder:"課題の詳細説明（ 1,000文字まで）" ,rows:"5" ,maxlength:"1000" %>
<br>
<%= f.submit "更新する" %>
<% end %>
<br>
<br>
<%=link_to 'もどる', user_path(@user.id) %>
<br>
<br>
<%= link_to 'この課題を削除する', user_product_issue_path(@user.id, @product.id, @issue.id), method: :delete %>