<% if user_signed_in? %>
　　<h2><%= current_user.nickname %>のトップページ</h2>
<% end %>
<%= link_to '自分以外のスケジュールを確認する', users_path %>

<h1>Issues#index</h1>
<%= link_to '担当部品を新規登録', new_product_path%>
<br>

<% @products.each do |product| %>
  ■<%= product.name %>  <%= link_to '課題を新規登録する', new_product_issue_path(product.id) %><br>
  <% @issues.where(product_id: product.id).each do |issue| %>
  ---<%= issue.summary %> <%= link_to 'やる事を新規登録する' %> <br>
  <%end%>
<%end%>





<br>
<% if user_signed_in? %>
  <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout"  %>
<% end %>