<% if user_signed_in? %>
　　<h2><%= current_user.nickname %>のトップページ</h2>
<% end %>
<%= link_to '自分以外のスケジュールを確認する', users_path %>
<h1>Issues#index</h1>
<%= link_to '担当部品を新規登録', new_product_path%>
<br>
<div class = "all_products_wrapper" id = "all_products_wrapper">
  <%= products(@products) %>
  <%= schedule_lines %>
</div>
<br>
<% if user_signed_in? %>
  <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout"  %>
<% end %>