<div class = "task_block">
  <div class = "task_character" id = <%= "task_character_#{task_count}" %>>
    <%= link_to task.title, edit_product_issue_task_path(product.id, issue.id, task.id) %>
    .開始時間：<%= l task.start %> -> 
    工数：<%= l task.time, format: :short%> -> 
    終了時間：<%= l task.start + (task.time.hour * 3600) + (task.time.min * 60) %>
    曜日：<%= task.start.wday %>
  </div>
  <div class ="task_bar" id = <%= "task_bar_#{task_count}" %>>
    <div class = "task_start" value = <%= l task.start, format: :time_only %>></div>
    <div class = "task_time" value = <%= (task.time.hour * 3600) + (task.time.min * 60) %>></div>
    <div class = "task_wday" value = <%= task.start.wday %>></div>
  </div>
</div>