<h1>Tasks#new</h1>
<%= form_with model: @task , url: product_issue_tasks_path, method: :post, local: true do |f| %>
  やる事：<%= f.text_field :title %>
  <br>
  いつから始める？<%= f.datetime_select :start %>
  <br>
  どのくらいかかる？<%= f.time_select :time %>
  <br>
<%= f.submit "新規作成する" %>
<br>
<%=link_to 'もどる', issues_path %>
<% end %>