<div class = "all_wrapper">
  <div class = "side" id = "side">
    <%= @user.nickname %>さん<%= '(あなた)' if @user.id == current_user.id %>のスケジュール
    <br>
    (<%= @week_start_day%> 〜 <%= @week_start_day + 7%>)
    <%= form_with url: user_path, method: :get, local: true do |f| %>
      <%= f.date_field :date %>へ
      <%= f.submit 'Go' %>
      <span class = "now" id = "now">Now</span>
    <% end %>
    <br>
    <% back_message = '戻る' %>
    <% if @user.id == current_user.id %>
      <% back_message = '自分以外のスケジュールを確認する' %>
    <% end %>
    <%= link_to back_message, users_path %>

    <br>
    <%= link_to '担当部品を新規登録', new_user_product_path(@user.id)%>
    <br>
    <%= products(@products) %>
    <% if user_signed_in? %>
      <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout"  %>
    <% end %>
  </div>
  <div class = "main" id = "main">
    <%= tasks(@tasks) %>
    <div class = "day">
      <%= date_disp_ %>
      <%# <%= time_disp_ %>
    </div>
    <%= schedule_lines_ %>
    <%# <%= schedule_lines %>
  </div>
</div>

  


