<div class = "sessions-wrapper">
  <div class = "app-title">
    <b>imanani</b>
  </div>
  <div class = "app-sub-title">
    課題潰し込みスケジュールツール
  </div>
  <%= form_with model: @user, url: user_session_path, class: 'registration-main', local: true do |f| %>
      <div class = "sessions-item" >email</div>
      <%= f.email_field :email, placeholder:"xxxx@xxxx", autofocus: true, class: 'email' %>
      <div class = "sessions-item" >パスワード</div>
      <%= f.password_field :password, placeholder:"", class: 'password' %>
      <div class = "sessions-item" ><%= f.submit "ログイン" ,class:"login-red-btn" %></div>
  <%end%>
  <div class = "sessions-item">
    未登録の方は<%=link_to 'こちら', new_user_registration_path %>から新規登録ができます。
  </div>
</div>