<div class = "registration-product-wrapper">
  <div class = "registration-product-title"><b>部品を編集</b></div>
  <%= form_with model: @product, url: user_product_path, method: :patch, local: true do |f| %>
    部品名：<%= f.text_field :name , placeholder:"例）CTR PLR", value:@product.name, class: "product-name" %>
  <%= f.submit "更新する" %>
  <% end %>
  <br>
  <div class = "registration-product-bottom">
    <div><%=link_to 'もどる', user_path(@user.id) %></div>
    <div><%= link_to 'この部品を削除する', user_product_path(@user.id, @product.id), method: :delete %></div>
  </div>
</div>